@import '../../app/globals.scss';

.footerLink {
    color: #ccc;
    background: linear-gradient(100deg, #aaf, #fff, #aaf);
    background-size: 200% 100%;
    background-position: var(--cursorX) 50%;
    background-clip: text;
    -webkit-background-clip: text;
    position: relative;
    --underlineWidth: 0;

    &::before {
        content: '';
        position: absolute;
        bottom: -0.1rem;
        left: 0;
        width: var(--underlineWidth);
        height: 1.5px;
        background: white;
    }
}

.sidebarLink {
    color: white;
    font-size: 1.2rem;
    --underlineWidth: 0;
    text-decoration: none;
    position: relative;
    display: inline-block;
    width: max-content;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-family: var(--raleway), Arial, sans-serif;
    font-weight: 100;
}