$pink: #ff00ff;
$blue: #0000ff;

$pinkLCH: lch(60.17 111.41 327.1);
$blueLCH: lch(29.57 131.2014 301.3643);

@mixin stdGradient($angle: 45deg) {
    background: linear-gradient(
        $angle,
        $pinkLCH,
        $blueLCH
    );
}

@mixin carbonBg() {
    background-image: url('/img/patterns/carbon-tile.png');
    background-size: 50px;
    background-repeat: repeat;
}

@mixin alignGrid($horizontally: center, $vertically: center, $text: left) {
    align-self: $vertically;
    justify-self: $horizontally;
    text-align: $text;
}

@mixin flexAlign($horizontally: center, $vertically: center, $text: left) {
    display: flex;
    justify-content: $horizontally;
    align-items: $vertically;
    text-align: $text;
}

@mixin flexColumn($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}

@mixin maskImage($size, $image) {
    width: $size;
    height: $size;
    mask-size: contain;
    mask-position: center;
    mask-image: $image;
}