@import '../../app/globals.scss';

.Footer {
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: 200% 100% !important;
    background: linear-gradient(
        90deg,
        $pinkLCH,
        $blueLCH,
        $pinkLCH
    );
    animation: bgGradientFlow 15s linear infinite;

    .nav {
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 32px;
    }

    .a {
        color: white;
        text-decoration-color: #00000000;
        text-underline-offset: 1rem;
        font-size: 1.2rem;
        font-family: Arial;
    }
}

@keyframes bgGradientFlow {
    from {
        background-position: -100% 50%;
    } to {
        background-position: 100% 50%;
    }
}