@use '../utils/variables' as *;

@layer reset {
    body, html {
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        background-color: black;
        color: white;
        font-family: var(--poppins), sans-serif;
    }

    body {
        width: 100%;
    }

    .a {
        color: #ff00ff;
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: #ff55ff;
        }
    }

    .btn {
        outline: none;
        border: none;
        background: none;
        padding: none;
        cursor: pointer;
    }
}

@layer layout {
    #mainBody {
        display: grid;
        width: 100%;
        grid-template-rows: minmax(100svh, auto) auto;
        min-height: 100vh;
    }
}

@layer main {
    * {
        scroll-behavior: smooth;
    }
    
    html {
        font-family: var(--poppins);
        font-weight: 300;
    }

    #main {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url('/img/patterns/carbon-tile.png');
        background-size: 5vw;
        background-repeat: repeat;
        flex-wrap: wrap;
    }

    :focus-visible {
        outline: 2px solid $pink !important;
        outline-offset: 2px;
    }

    *::selection {
        background: $pink;
        color: black;
    }

    .page {
        width: 100%;
        min-height: 100svh;
    }
}