$pink: #ff00ff;
$blue: #0000ff;

$pinkLCH: lch(60.17 111.41 327.1);
$blueLCH: lch(29.57 131.2014 301.3643);

@mixin stdGradient($angle: 45deg) {
    background: linear-gradient(
        $angle,
        $pinkLCH,
        $blueLCH
    );
}

@layer reset {
    body, html {
        overflow-x: hidden;
        padding: 0;
        margin: 0;
        background-color: black;
        color: white;
        font-family: Arial;
    }

    body {
        width: 100%;
    }

    .a {
        color: #ff00ff;
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &:hover {
            color: #ff55ff;
        }
    }

    .btn {
        outline: none;
        border: none;
        background: none;
        padding: none;
        cursor: pointer;
    }
}

@layer layout {
    #mainBody {
        display: grid;
        width: 100%;
        grid-template-rows: min(100svh) auto;
        min-height: 100vh;
    }
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/img/patterns/carbon-tile.png');
    background-size: 5vw;
    background-repeat: repeat;
}

:focus-visible {
    outline: 2px solid $pink !important;
    outline-offset: 2px;
}