@use '../utils/variables' as *;

.Cover {
    h1 {
        font-size: 7vw;
        color: black;
        font-family: var(--raleway), Arial;
        font-weight: 100;
        width: 100%;
        text-shadow: 
            -1px -1px 3px $blue,
            -1px -1px 3px $blue,
            -1px -1px 3px $blue,
            1px  1px  3px $pink,
            1px  1px  3px $pink,
            1px  1px  3px $pink;
        @include alignGrid(center, center, center);
    }

    nav {
        @include alignGrid(center, end);
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: var(--raleway), Arial;

        h2 {
            font-weight: 200;
        }

        ul {
            display: flex;
            gap: 3rem;
            list-style: none;
            padding: 0;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        li {
            font-size: 1.2rem;
            margin: 0 !important;
            text-wrap: nowrap;
        }
    }
}