@use './../../../utils/variables.scss' as *;

.BannerPage {
    display: flex;
    justify-content: center;
    align-items: center;

    .bg {
        background: black;
        position: fixed;
        inset: 0;
    }

    .bannerWrapper {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        .banner {
            height: 90vw;
            width: auto;
            filter: brightness(500%);
            margin-top: 10vh;
        }
    }
}

.Heading {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-family: var(--raleway);
        font-size: 3rem;
        font-weight: 100 !important;
        text-align: center;
    }
}